<h1> Edit Password </h1>

<%= form_with model: Current.user, url: edit_password_path, data: { turbo: false } do |form| %>
<!-- if we don't define the url, it tries to get a route for the name of the model -->
    
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %>   
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Update Password", class: "btn btn-primary" %>
        <!-- if you don't set the label, it inferes automatically -->
    </div>
<% end %>